html, body {
    width: 100%;
    height: 100%;
    font-family: 'Raleway', 'Futura';
}

@media (min-width: 1200px) {
    .container {
        /* max-width: 1100px; */
    }
}
@media (min-width:400px){
    .global-search {
        padding: 20px 0;
        text-align:center;
    }

    body {
        padding-bottom: 15px;
    }

    .global-search,
    .centered {
        padding:10px;
        padding-top: 5%;
        text-align:center;
    }

    .global-search .form-control {
        width:500px;
    }

    .global-search * {
        margin-bottom:0;
        display:inline-block;
    }
}

.background {
    position: fixed;
    height: 100%;
    width: 100%;
    background-image: url("images/aerial.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.2;
    z-index: -1;
}

.topcorner{
    position:absolute;
    right:2%;
    top:2%;
}
.btn{
    border: none;
    background-color: #F56600;
}

#link {
    text-decoration: none;
    color: #F56600;
    font-size: 60px;
    font-weight: bold;
}

.container {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#map {
    margin: 0 auto;
    width: 50%;
    padding-top: 38%
}

#results-container {
    position: relative;
    width: 50%;
    height: 400px;
    overflow: scroll;
}

#results {
    width: 100%;
}

#results table {
    height: 400px;
    overflow: scroll;
    display: block;
}

.result {
    display: block;
    background-color: lightgray;
    padding: 9px 17px;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
    transition: all 1s;
}

.result-name {
    font-weight: bold;
}

.result.active {
    background-color: #B8B8B8;
}

.detail {
    display: none;
}

#reset {
    width: 30%;
}