html, body {
    width: 100%;
    height: 100%;
    font-family: 'Raleway', 'Futura';
}

@media (min-width: 1200px) {
    .container {
        /* max-width: 1100px; */
    }
}
@media (min-width:400px){
    .global-search {
        padding: 20px 0;
        text-align:center;
    }

    body {
        padding-bottom: 15px;
    }

    .global-search,
    .centered {
        padding:10px;
        padding-top: 5%;
        text-align:center;
    }

    .global-search .form-control {
        width:500px;
    }

    .global-search * {
        margin-bottom:0;
        display:inline-block;
    }
}

#confirmation {
    position: fixed;
    width: 100%;
    height: 35px;
    line-height: 35px;
    margin: 0 auto;
    background-color: #7fb800;
    text-align: center;
    display: none;
    color: white;
    z-index: 999;
}

.background {
    position: fixed;
    height: 100%;
    width: 100%;
    background-image: url("images/aerial2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.2;
    z-index: -1;
}

.topcorner{
    position:absolute;
    right:2%;
    top:2%;
}
.btn{
    border: none;
    background-color: #F56600;
}

.bad-location {
    background-color: rgb(177, 35, 0);
    color: white; 
}

.bad-location::placeholder {
    color: white !important;
}

#origin-input,
#destination-input,
#description-input,
#add-to-query {
    border: solid rgba(0, 25, 138, 0.3) 1px;
    margin-bottom: 1px;
}

#origin-input::placeholder,
#destination-input::placeholder,
#description-input::placeholder,
#add-to-query {
    color: rgba(0, 25, 138, 0.5);
}

#link {
    text-decoration: none;
    color: #F56600;
    font-size: 60px;
    font-weight: bold;
    display: flex;
}

#link img {
    height: 50px;
    margin: 10px 8px 0 10px;
}

.queries-container {
    display: flex;
    width: 37%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-height: 0px;
    transition: max-height 5s ease;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.single-query {
    padding: 8px;
    margin: 11px;
    background-color: #F56600;
    font-size: 18px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.35), 0 12px 12px rgba(0,0,0,0.30);
    color: white;
    animation: slide-up 1.2s ease;
    transition: background-color 0.4s;
    display: flex;
    cursor: pointer;
}

.single-query:hover {
    background-color: rgb(177, 35, 0);
}

.single-query img {
    height: 16px;
    margin: auto 0px auto 7px;
    cursor: pointer;
}

@keyframes spin { 
    100% { 
        transform: rotate(90deg);
    }
}
.slidercontainer {
    width: 400px;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 15px;
    cursor: pointer;
    background: rgba(0, 25, 138, 0.1);
    border-radius: 40px;
}

#time span,
#distance span {
    color: #F56600;
}

#distanceText {
    font-size: 17px;
}

.spun {
    animation: spin 0.3s;
}

.container {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#map {
    margin: 0 auto;
    width: 45%;
    padding-top: 38%
}

#show-results {
    width: 55%;
}

#results-container {
    position: relative;
    width: 100%;
    height: 90%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 15px;
}

#results-tabs {
    height: 10%;
    width: 100%;
    display: flex;
    padding-left: 15px;
    padding-bottom: 2px;
}

.tab {
    background-color: gray;
    height: 100%;
    padding: 0px 10px;
    display: table;
    margin-right: 0.2%;
    color: white;
    transition: all 0.5s;
    cursor: pointer;
}

.tab p {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.active-tab {
    background-color: #F56600;
}

.result-table {
    width: 100%;
    display: none;
}

.result-table.active-table {
    display: table;
}

.result-table table {
    display: block;
}

.result {
    display: block;
    background-color: lightgray;
    padding: 9px 17px;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
    transition: all 1s;
    position: relative;
    margin-bottom: 6px;
    cursor: pointer;
    border: solid rgba(0, 25, 138, 0.3) 1px;
}

.result:hover {
    background-color: #bcbcbc; 
}

.add-toggle {
    visibility: hidden;
    top: 9px;
    right: 17px;
    position: absolute;
    width: 3%;
}

.result-details {
    font-weight: bold;
    display: inline-block;
    padding-right: 5px;
    font-size: 16px;
}

.ratings {
    color: #F56600;
}

.ratings img {
    height: 15px;
}

.result.active {
    background-color: #B8B8B8;
}

.detail {
    display: none;
}

#myroute-container {
    width: 100%;
    height: 100px;
    margin: 20px;
    position: relative;
    text-align: center;
    transition: all 1s;
}

#myroute {
    width: 60%;
    position: absolute;
    left: 20%;
    border-collapse: separate; 
    border-spacing: 2px;
}

#myroute tr {
    background-color: rgba(245, 102, 0, 0.3);
    padding: 9px 17px;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
    font-size: 17px;
    height: 45px;
    display: flex;
    border: solid rgba(0, 25, 138, 0.3) 1px;
    margin-bottom: 4px;
}

.myroute-remove {
    right: 17px;
    position: absolute;
    height: 23px;
}

#reset {
    width: 30%;
    margin: 2%;
}