<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/main.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="icon" href="/static/images/wiggle-icon.png" />
    <title>De-Tour Guide</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/js/maps.js"></script>
    <script src="/static/js/results.js"></script>
    <script src="/static/js/query.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
</head>

<body>

    <div class="background"></div>
    <div id="confirmation">Succesfully added this spot to your route!</div>
    <form class="form-inline global-search" id="submit-form">
        <h1 style="font-size: 55px;">
            <a href="./" id="link">
                <p>de</p><img src="../static/images/wiggle.png">
                <p>tour guide</p>
            </a>
        </h1>
        <br>
        <h2 style="font-size: 20px;">
            Find ideal stops along your road trip route!
        </h2>
        <br><br><br>

        <div class="form-group">
            <input id="origin-input" type="text" name="origin" class="form-control input" placeholder="Origin" required>
        </div>
        <br>
        <div class="form-group">
            <input id="destination-input" type="text" name="dest" class="form-control input" placeholder="Destination"
                required>
        </div>
        <br>
        <h2> What do you want to see? </h2>
        <br>
        <h4> Add multiple search terms to your query (limit 10) </h4>
        <br><br>
        <div class="form-group">
            <textarea id="description-input" type="text" maxlength="200" class="form-control input"
                placeholder="ex. family friendly parks, zoo with elephants, fun adventure" size="60"
                onkeypress=addToQuery(event) rows="1"></textarea>
            <button type="button" id="add-to-query" onclick=addToQuery(event)>
                Add to query
            </button>
        </div>
        <br><br>
        <div class="queries-container">

        </div>
        <br>
        <h5>Approximately how many miles are you willing to deviate from the path?</h5>
        <br><br>
        <div class="slidercontainer">
            <input type="range" id="distanceInput" value="15" min="1" max="101"
                oninput="distanceText.value = (distanceInput.value == 101) ? '100+ miles' : 
                                                distanceInput.value == 1 ? '1 mile' : distanceInput.value + ' miles'">
            <output name="distance-txt" id="distanceText">15 miles</output>
        </div>
        <input type="hidden" name="distance"/>
        <!-- <select id="distance-input" name="distance">
            <option value="3000">Over 50</option>
            <option value="50">50</option>
            <option value="40">40</option>
            <option value="30">30</option>
            <option value="20">20</option>
            <option value="10" selected>10</option>
        </select> -->
        <br>
        <br>
        <input type="hidden" name="description" />
        <button type="submit" class="btn btn-info" onclick="submitQuery(event)"> Go! </button>
    </form>
    <div class="centered">
        {% if inputs %}
            {% if results %}
            <h1>{{output_message}}</h1>
            <h3 id="time"></h3>
            <h3 id="distance"></h3>
            {% for inp in inputs %}
            <script>
                coords.push('{{ inp }}')
            </script>
            {% endfor %}
            <script>
                queries = '{{ queries }}'
                dist = '{{ dist }}'
            </script>
            <script async defer src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&callback=initMap">
            </script>
        </div>

        <div class="container">
            <div id="map"></div>
            <div id="show-results">
                <div id="results-tabs">
                </div>
                <div id="results-container">
                    {% for result in results %}
                    {% set outer_loop = loop %}
                    <table class="result-table" id="result-table{{ loop.index0 }}">
                        {% for (name, details) in result %}
                        {% set name_safe = name | replace("'", "") %}
                        <tr onclick="updateMap(parseFloat('{{ details.lat }}'), parseFloat('{{ details.long }}')); 
                                    toggle('{{loop.index0}}-{{ outer_loop.index0 }}', parseFloat('{{details.lat}}'), parseFloat('{{details.long}}'))"
                            class="result" id="result{{ loop.index0 }}-{{ outer_loop.index0 }}">
                            <td>
                                <div class="result-details">{{ name }}</div>
                                <div class="result-details ratings">{{ details.rating }}
                                    <img src="static/images/star.png">
                                </div>
                                <img class="add-toggle" id="toggle{{ loop.index0 }}-{{ outer_loop.index0 }}"
                                    src="static/images/plus.png" title="Click to add to Your Route."
                                    onclick="event.stopPropagation(); toggleMyRoute('{{ loop.index0 }}-{{ outer_loop.index0 }}', parseFloat('{{details.lat}}'), parseFloat('{{details.long}}'), '{{ name_safe }}')">
                                <div class="detail" id="detail{{ loop.index0 }}-{{ outer_loop.index0 }}">
                                    <div>
                                        {{ details.address }}
                                    </div>
                                    <div>
                                        {{ details.review }}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% endfor %}
                </div>
            </div>
            <br>
            <div id="myroute-container">
                <h2>Your Route!</h2>
                <h4>Open a result and click the plus to customize your route.</h4>
                <table id="myroute">
                    <tbody></tbody>
                </table>
            </div>
            <br>
            <button id="reset" class="btn btn-info" onclick="updateMap()"> Reset Map </button>

        </div>
        {% else %}
            <script>
                catchBadWaypoints();
            </script>
        {% endif %}
    {% endif %}
</body>

</html>