<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/main.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <title>De-Tour Guide</title>
    <script src="/static/js/maps.js"></script>
    <script src="/static/js/results.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>

    <div class="background"></div>
    <div id="confirmation">Succesfully added this spot to your route!</div>
    <form class="form-inline global-search" id="submit-form">
        <h1 style="font-size: 55px;">
            <a href="./" id="link">{{ name }}</a>
        </h1>
        <br>
        <h2 style="font-size: 20px;">
            Find ideal stops along your road trip route!
        </h2>
        <br><br><br>

        <div class="form-group">
            <input id="origin-input" type="text" name="origin" class="form-control input" placeholder="Origin" required>
        </div>
        <br>
        <div class="form-group">
            <input id="destination-input" type="text" name="dest" class="form-control input" placeholder="Destination"
                required>
        </div>
        <br>
        <h2> Please Describe What You're Looking For </h2>
        <br>
        <h4> (Separate each aspect with a comma) </h4>
        <br>
        <div class="form-group">
            <input id="description-input" type="text" name="description" maxlength="200" class="form_control input"
                placeholder="ex. 'Family friendly, delicious seafood, zoo with elephants'" style="margin-top: 10px"
                size="60" required>
        </div>
        <br>
        <h5>Approximately how many miles are you willing to deviate from the path?</h5>
        <br>
        <select id="distance-input" name="distance">
            <option value="3000">Over 100</option>
            <option value="100">100</option>
            <option value="75">75</option>
            <option value="50" selected>50</option>
            <option value="25">25</option>
        </select>
        <br>
        <br>
        <button type="submit" class="btn btn-info"> Go! </button>
    </form>
    <div class="centered">
        {% if data and results %}
        <h1>{{output_message}}</h1>
        <h3 id="time"></h3>
        <h3 id="distance"></h3>
        {% for d in data %}
        <script>
            coords.push(
                {
                    lat: parseFloat('{{ d[0] }}'),
                    lng: parseFloat('{{ d[1] }}')
                }
            )
        </script>
        {% endfor %}
        {% for a in addresses %}
        <script>
            coords.push('{{ a }}')
        </script>
        {% endfor %}
        <script>
            queries = '{{ queries }}'
            dist = '{{ dist }}'
        </script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&callback=initMap">
        </script>
    </div>

    <div class="container">
        <div id="map"></div>
        <div id="results-container">
            <!-- <div id="results-tabs">

        </div> -->
            <table id="results">
                {% for (name, details) in results[0] %}
                <tr onclick="updateMap(parseFloat('{{ details.lat }}'), parseFloat('{{ details.long }}')); 
                            toggle('{{loop.index0}}', parseFloat('{{details.lat}}'), parseFloat('{{details.long}}'))"
                    class="result" id="result{{ loop.index0 }}">
                    <td>
                        <div class="result-name">{{ name }}</div>
                        <img class="add-toggle " id="toggle{{ loop.index0 }}" src="static/images/plus.png"
                            onclick="event.stopPropagation(); toggleMyRoute('{{ loop.index0 }}', parseFloat('{{details.lat}}'), parseFloat('{{details.long}}'), '{{ name }}')">
                        <div class="detail" id="detail{{ loop.index0 }}">
                            <div>
                                {{ details.address }}
                            </div>
                            <div>
                                {{ details.review }}
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <br>
        <div id="myroute_container">
            <h2>Your Route!</h2>
            <h4>Open a result and click the plus to customize your route.</h4>
            <table id="myroute">
                <tbody></tbody>
            </table>
        </div>
        <br>
        <button id="reset" class="btn btn-info" onclick="updateMap()"> Reset Map </button>

    </div>
    {% endif %}
</body>

</html>